<!DOCTYPE html>

<html>
    <head>
        <title>Node CLI Options Parsing Review Table</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css"/>
        <script defer src="https://code.getmdl.io/1.3.0/material.js"></script>
        <style>
            table.mdl-data-table th, td {
                font-family: 'Ubuntu Mono', 'Monospace';
                font-size: 14pt;
                border-top: 1px solid rgba(0,0,0,.12);
                border-bottom: 1px solid rgba(0,0,0,.12);
            }
        </style>
    </head>
    <body>
        <h1>Node CLI Options Parsing Review Table</h1>
        {{{table}}}
    </body>
</html>
